.card-course {
    border: none;
    border-radius: 0;
    width: 240px;
    flex-direction: column;
    max-width: 37.5rem;
    min-width: 17.3rem;
    cursor: pointer;
}
.card-course .card-body {
    padding-left: 0;
    padding-right: 0;
}
.card-course img {
    width: 100%;
    max-height: 135px;
    object-fit: cover;
    background-color: #1e1e1c;
    border-radius: 4px;
    border: 1px solid #dcdacb;
    overflow: hidden;
    transition: .3s;
}
.card-course img:hover {
    filter: brightness(80%);
}
.card-course h5 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.2px;
}
.card-course small {
    color: #73726c;
    font-weight: 400;
    font-size: 12px;
}
.card-course-rating .star-number {
    color: #be5a0e;
    font-weight: 700;
    font-size: 14px;
    margin-right: .4rem;
}

.card-course-rating .star-rating {
    color: #eb8a2f;
    font-size: 12px;
}
.card-course-price {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -.02rem;
}
.rating-number {
    color: #73726c;
    font-size: 12px;
    font-weight: 400;
    margin-left: .4rem;
}

.dark .card-course-rating .star-rating,
.dark .card-course-rating .star-number {
    color: #ffc48c;
}

.dark .rating-number {
    color: #ffffff;
    font-size: 14px;
}

.dark p {
    line-height: 1;
    font-size: 15px;
    line-height: 19px;
    margin: 10px 0;
}

.dark .description {
    font-size: 1.2rem !important;
    margin-bottom: 1.6rem;
}

.course-info {
    padding: 1rem 8rem !important;
}

.card-course-info {
    width: 340px;
    position: absolute;
}

.card-course-info img {
    border: 1px solid #dcdacb;
    border-radius: 4px;
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card-course-info .card-title {
    letter-spacing: -.02rem;
}

.card-course-info .card-title sup {
    color: #73726c;
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
}

.card-course-info .btn {
    margin-top: 12px;
    font-size: 16px;
    height: 48px;
    border-radius: 4px !important;
    padding: 0 14px;
}

.card-course-info .btn-wish {
    margin-top: 6px;
}

.btn-wish {
    border-color: rgb(40, 150, 169);
    color: rgb(15, 124, 144);
}

.card-course-info .btn-red {
    background-color: rgb(236, 82, 82) !important;
    border-color: rgb(236, 82, 82) !important;
}

.card-course-info .btn-red:hover {
    background-color: #e61b1b !important;
    border-color: #e61b1b !important;
}

.card-course-info p {
    font-size: 16px;
    color: #3c3b37;
    margin: 0;
    line-height: 19px;
    margin-top: 6px;
}

.card-course-info p.price {
    font-weight: 700;
    color: #b32929;
    font-size: 14px;
}

.card-course-info small {
    font-weight: 400;
    font-size: 12px;
    margin: 12px auto;
    color: #444444;
    display: flex;
    justify-content: center;
}

.card-course-info .features-title {
    font-size: 18px !important;
    margin-bottom: 12px;
    margin-top: 1.4rem;
}

.features {
    margin-bottom: 2rem;
}

.features p i {
    margin-right: .6rem;
    font-size: 16px;
}

.features p {
    color: #444444 !important;
    font-size: 14px;
}

.course-list {
    padding: 48px 24px;
}

.course-list h1 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 32px;
}

.course-list h2 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 28px;
}

.course-list .divisor:nth-child(1) {
    display: none !important;
}

.course-list .card-course {
    display: flex;
    flex-flow: row;
    width: 100% !important;
    height: 148px !important;
}

.course-list .card-course .card-img-top {
    height: 148px !important;
    width: 250px;
}

.course-list .card-course .card-body {
    width: 100% !important;
    padding-left: 1rem;
}

.course-list .card-course h5 {
    width: 100vw !important;
    font-size: 16px;
}

.course-list .card-course p {
    font-size: 14px;
    margin: 0 !important;
    margin-bottom: 4px;
    padding: 0 !important;
    font-weight: 400;
    color: rgb(60, 59, 55);
}

.course-list .card-course small {
    font-size: 12px;
    margin: 0 !important;
    padding: 0 !important;
}

.course-list .row.card-course {
    padding: 0;
    margin: 0;
    width: 100% !important;
}

.course-list .row.card-course .card-body {
    width: 100% !important;
}

.course-list .card-course .card-course-info {
    color: rgb(115, 114, 108);
    font-size: 12px;
}

.course-list .card-course .card-course-price { display: none; }

.show-container {
    width: 60vw;
}

.accordion-button,
.accordion-button.collapsed {
    box-shadow: none !important;
    border: 1px solid #ccc !important;
    color: rgb(60, 59, 55) !important;
    background-color: rgb(251, 251, 248);
    border-bottom: none !important;
}

.course-content h2 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.2px;
}

.accordion-button:not(.collapsed) {
    color: rgb(60, 59, 55) !important;
    background-color: rgb(251, 251, 248);
    border-bottom: 1px solid #ccc !important;

}

.accordion-button:not(.collapsed)::after {
    filter: saturate(0);
}

.curriculum-length {
    font-size: 14px;
    color: rgb(33, 37, 41);
    margin-bottom: 8px;
}


.course-item {
    font-size: 14px;
    color: rgb(60, 59, 55) !important;
}
