.search-button,
.search-button:focus {
    margin-right: -2.6rem;
    margin-top: 2px;
    z-index: 5;
    border: none;
    outline: none !important;
    box-shadow: none;
}

.default-nav input[type="search"].form-control,
.default-nav input[type="search"].form-control:focus {
    outline: none !important;
    box-shadow: none;
}

.search-input {
    z-index: 3;
    padding-left: 2rem;
    width: 35vw;
    border-color: rgb(60, 59, 55) !important;
    height: 46px !important;
}

.default-nav #navbarDropdown::after { display: none !important; }

.default-nav .dropdown-menu.show {
    border-radius: 0;
    font-size: 16px !important;
}

.default-nav a.link-secondary,
.default-nav .dropdown-toggle { 
    font-size: 14px !important; 
    font-weight: 400 !important;
    line-height: 19px !important;
    color: rgb(60, 59, 55) !important;
}

.default-nav .bi {
    color: #565656 !important;
    font-size: 18px !important;
}

.default-nav .bi:hover {
    color: rgba(15, 124, 144) !important;
}

.default-nav .btn-primary,
.default-nav .btn-outline-primary {
    font-weight: 700;
    font-size: 14px;
    border-color: rgb(15, 124, 144) !important;
}

.default-nav .btn-outline-primary {
    color: rgb(15, 124, 144) !important;
}

.default-nav .btn-primary,
.default-nav .btn-outline-primary:hover {
    color: #ffffff !important;
    background-color: rgb(15, 124, 144) !important;
}

.default-nav .btn-primary:hover {
    background-color: rgb(25, 134, 154) !important;
}

a.link-secondary:hover, 
a.dropdown-toggle:hover, 
.dropdown-item:hover { 
    color: #0f7c90 !important;
    background-color: transparent !important;
}

.default-nav .navbar-toggler { border: none !important; }

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: #565656 !important;
}

.logo .logo-icon {
    color: #e5554f !important;
    font-size: 2.4rem;
    margin-right: .4rem;
}

.default-nav-bottom {
    display: flex !important;
    align-items: center !important;
    align-content: center !important;
    justify-content: center !important;
    width: 100%;
    z-index: 3 !important;
    position: relative;
}

.default-nav-bottom a { 
    text-decoration:  none;
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    margin: 0 .8rem;
}

@media (max-width: 768px) {
    .default-nav-bottom { display:  none !important; }
    
    .search-input {
        width: 100%;
    }
}