/* Imports */
@import './navigation.css';
@import './utilities.css';
@import './home.css';

.default-container {
    width: 100% !important;
    z-index: 1 !important;
    position: relative;
}

@media (max-width: 768px) {
    .default-container {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}