/* Imports */
@import './navigation.css';
@import './utilities.css';
@import './home.css';
@import './forms.css';

:root {
    --link-color: rgb(25, 134, 154);
    --link-color-darker: rgb(15, 124, 124);
}

.default-container {
    width: 100% !important;
    z-index: 1 !important;
    position: relative;
}

.btn-red {
    background-color: #e5554f !important;
    color: #ffffff;
    border-radius: 3px;
}

.btn-control {
    width: 100%;
}

.bold { font-weight: bold !important; }

footer a {
    color: var(--link-color) !important;
    text-decoration: none !important;
}

footer a:hover {
    color: var(--link-color-darker) !important;
}

@media (max-width: 768px) {
    .default-container {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}