/* CSS */

.search-button,
.search-button:focus {
    margin-right: -2.4rem;
    z-index: 5;
    border: none;
    outline: none !important;
    box-shadow: none;
}


.search-input {
    z-index: 3;
    padding-left: 2rem;
    width: 30vw;
    border-color: rgb(60, 59, 55) !important;
    height: 46px !important;
}

/* DEFAULT NAV */

.default-nav #navbarDropdown::after { display: none !important; }

.default-nav .dropdown-menu.show {
    border-radius: 0;
    font-size: 1.4rem !important;
}

.default-nav a { 
    font-size: 14px; 
    font-weight: 400;
    line-height: 19px;
    color: rgb(60, 59, 55);
}

.default-nav .btn-primary,
.default-nav .btn-outline-primary {
    font-weight: 700;
    font-size: 14px;
    border-color: rgb(15, 124, 144) !important;
}

.default-nav .btn-outline-primary {
    color: rgb(15, 124, 144) !important;
}

.default-nav .btn-primary,
.default-nav .btn-outline-primary:hover {
    color: #ffffff !important;
    background-color: rgb(15, 124, 144) !important;
}

.default-nav .btn-primary:hover {
    background-color: rgb(25, 134, 154) !important;
}

a.link-secondary:hover { color: #0f7c90 !important; }

@media screen and (max-width: 900px) {
    .search-input {
        width: 100%;
    }
}
